.App {
  min-height: 100vh;
  text-align: center;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: .5rem auto;
  max-width: 24rem;

  &__input {
    padding: .25rem .5rem;
  }

  &__error-message {
    color: red;
  }

  &__submit-button {
    cursor: pointer;
  }
}
